# Python
**/__pycache__/
**/.vscode/
**/*.egg-info

# Snakemake
**/.snakemake/

# CMake
**/build/
**/CMakeFiles/
**/CMakeCache.txt
**/cmake_install.cmake
**/*.cmake
**/*.a
**/*.o
**/bin/

# rph_kmeans
/third_parties/rph_kmeans/build/
/third_parties/rph_kmeans/dist/